<ng-container *ngIf="{
    user: user$ | async,
    displayUserName: displayUserName$ | async
} as async">

<div class="navigation">
    <div class="navigation__user-info" *ngIf="async.user?.userInfo">
        <app-avatar class="navigation__user-info__icon"
                    [avatarUrl]="async.user.userInfo.profileIcon"
        ></app-avatar>
        <ng-container *ngIf=" async.displayUserName">
            <p class="navigation__user-info__hello">{{ 'Hello,' }}&nbsp;</p>
            <span class="navigation__user-info__hello _action-text">
                {{ async.displayUserName }}
            </span>
            <p class="navigation__user-info__hello">{{ '!' }}</p>
        </ng-container>
    </div>

    <div class="navigation__links">
        <p class="navigation__links__dashboard"
           (tap)=onDashboardsNavigate()
        >
            My Dashboards
        </p>
    </div>

    <div class="navigation__tools">
        <app-search class="navigation__tools__search"></app-search>
        <button class="navigation__tools__settings" (tap)="openDialog(createUser)">
            <svg-icon [key]="'add-user'" [size]="'md'"></svg-icon>
        </button>
        <button class="navigation__tools__logout" (tap)="onLogout()">
            <svg-icon [key]="'logout'" [size]="'sm'"></svg-icon>
        </button>
    </div>
</div>

<ng-template #createUser>
    <create-user (cancelEvent)="closeDialog()"></create-user>
</ng-template>

</ng-container>
