<ng-container *ngIf="{
    chartData: chartData$ | async
} as async">

<div class="task-chart" *ngIf="async.chartData?.estimates?.length">
    <div class="task-chart__ring">
        <tui-ring-chart
            class="task-chart__ring-chart"
            size="xl"
            [value]="async.chartData?.estimates"
            [content]="content"
            [(activeItemIndex)]="activeItemIndex"
        ></tui-ring-chart>
        <div class="task-chart__ring-types">
            <div class="task-chart__ring-types__type">Bug</div>
            <div class="task-chart__ring-types__count">5</div>
            <div class="task-chart__ring-types__type">Story</div>
            <div class="task-chart__ring-types__count">3</div>
        </div>
    </div>

    <div class="task-chart__legend">
        <div>
            <div class="task-chart__legend__total">
                <div class="task-chart__legend__total-header">
                    <p> Total estimate </p>
                    <span> by selected filter </span>
                </div>
                <div class="task-chart__legend__total-counter">
                    {{ async.chartData?.totalEstimates | displayEstimate }}
                </div>
            </div>

            <div class="task-chart__legend__detail"
                 *ngFor="let label of async.chartData?.labels; let index = index"
            >
                <div class="task-chart__legend__detail__info">
                    <div class="task-chart__legend__detail__info-color"
                         [style.background-color]="getColor(index)"
                    ></div>
                    <span class="task-chart__legend__detail__info-name">
                        {{ label }}
                    </span>
                </div>

                <div class="task-chart__legend__detail__count"
                     [class._active]="activeItemIndex === index"
                >
                    {{ async.chartData?.estimates?.[index] | displayEstimate }}
                </div>
            </div>
        </div>

        <div class="task-chart__legend__resolved">
            <div class="task-chart__legend__resolved-percent">
                <span class="task-chart__legend__resolved-percent__complete">3d 1h</span>
                <span class="task-chart__legend__resolved-percent__progress">50d 6h</span>
            </div>
            <div class="task-chart__legend__resolved-legend">
                <span class="task-chart__legend__resolved-legend__label">implemented 6%</span>
                <span class="task-chart__legend__resolved-legend__label">remaining 94%</span>
            </div>
        </div>
    </div>
</div>

<ng-template #content>
    <div class="task-chart__ring-chart__content"> Estimate chart </div>
</ng-template>

</ng-container>
